/* auto type */
#common {
    font-size: 1.3rem;
}

.autoTypeContainer {
    display: flex;
    flex-wrap: wrap;
}

.staticContainer h3 {
    margin: 0;
}

.autoContainer .auto-child {
    display: flex;
    text-align: center;
    max-width: 9rem;
    margin-left: 5px;
}
.autoContainer .auto-child input {
    background-color: inherit;
    border: none;
    color: inherit;
    font-style: inherit;
    font-weight: 700;
    margin-left: 1%;
    padding: 0px;
    color: var(--yellowColor);
    width: 100%;
}

@media (max-width: 824px) {
    .autoTypeContainer {
        margin-left: 5rem;
    }

    #common {
        font-size: 1.1rem;
    }
}
