.navbar {
    min-width: 100%;
    height: 100px;
    background: var(--blueColor);
    position: sticky;
    top: 0;
    z-index: 10;
}

.links {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--whiteColor);
    /* border: 2px solid red; */
}

.navbar a {
    color: var(--whiteColor);
    text-decoration: none;
    margin: 20px;
    font-size: 25px;
    /* border: 2px solid magenta; */
    display: flex;
    flex-direction: column;
    height: 2rem;
}

.toggleButton {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.toggleButton svg {
    font-size: 50px;
}
.toggleButton button {
    margin-right: 20px;
    background-color: transparent;
    border: none;
    color: var(--whiteColor);
    cursor: pointer;
}

#open {
    height: 100vh;
}

#open .links {
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 100px;
}

#open a {
    width: 100%;
    text-align: center;
}

.hover {
    position: relative;
}
.hover::after {
    content: '';
    position: absolute;
    height: 0.175rem;
    width: 100%;
    background-color: var(--yellowColor);
    left: 0;
    bottom: 0;
    transform: scale(0, 1);
    transform-origin: 0% 100%;
    transition: transform 0.5s ease;
}
.hover:hover::after {
    transform: scale(1, 1);
}
.active:after {
    content: '';
    border-bottom: 2px solid var(--yellowColor);
    display: block;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 1px;
}

@media only screen and (max-width: 600px) {
    .toggleButton {
        display: flex;
    }
    #close a {
        display: none;
    }
    .links {
        height: 0;
        /* display: none; */
    }

    #open a {
        /* border: 2px solid red; */
        width: 25%;
    }
}

@media only screen and (min-width: 600px) {
    .toggleButton {
        display: none;
    }

    .hiddenLinks {
        display: none;
    }

    #open {
        height: 100px;
    }

    #open .links {
        flex-direction: row;
    }
}
