.project {
    max-width: 1500px;
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* height: calc(100vh - 6.5rem); */
}

.project h1 {
    margin: 50px auto;
    color: var(--lightBlueColor);
    font-size: 35px;
    text-align: center;
}

.project .img-container {
    border-radius: 10px;
    /* border: 2px solid red; */
    /* width: 20%; */
    width: 50%;

    min-width: 343.2px;
}
.project img {
    max-width: 90%;
    height: 100%;
    min-width: 100%;
    display: inline-block;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.4);
    margin-bottom: 1.2rem;
}

.project img:hover {
    box-shadow: 0 0 20px 5px var(--lightGreyColor);
    transform: scale(1.008);
    transition: 0.5s;
}

.project p {
    font-size: 20px;
    max-width: 70%;
    color: var(--lightBlueColor);
    text-align: center;
    padding: 0 50px;
}

.link-container {
    min-width: 80%;
    text-align: center;
    display: flex;
    justify-content: space-around;
    margin: 20px auto;
}

#back-btn {
    font-size: 1.2rem;
}

.backIcon {
    display: flex;
    width: 2rem;
}
.backIcon img {
    margin: 0;
    border: 0;
}

.btn #apiIcon,
.btn #codeIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 3rem;
    margin-left: 5px;
}
.btn #apiIcon img,
.btn #codeIcon img {
    margin: 0;
    border: 0;
}

#back-btn,
.codeBtn,
.apiBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.3rem 0.5rem;
}

.liveLink2 {
    border-bottom: 1px dotted;
    margin-bottom: 10px;
    transition: 0.4s all;
}
.liveLink2:hover {
    border: 1.5px dotted var(--orangeColor);
    color: var(--whiteColor);
    background-color: var(--orangeColor);
}

.richText {
    /* border: 2px solid red; */
    width: 100%;
}
.richText ul {
    /* border: 2px solid blue; */
    width: 50%;
    margin: 0 auto;
    padding: 0;
    /* list-style-position: inside; */
    /* list-style-type: none; */
}
.richText ul li {
    /* border: 2px solid green; */
    margin-top: 1rem;
}
.richText ul li p {
    /* border: 2px solid black; */
    min-width: 100%;
    text-align: left;
    display: inline;
    padding-left: 0px;
    font-size: 1rem;
}

.cust-container {
    /* border: 3px solid red; */
    width: 50%;
    display: flex;
    justify-content: space-around;
}
/* ------------------- */
@media only screen and (max-width: 826px) {
    .project p {
        padding: 0;
    }
    .link-container .btn {
        margin-right: 20px;
    }
    .img-container {
        /* border: 3px solid red; */
    }
}
@media only screen and (max-width: 550px) {
    .btn {
        font-size: 0.9rem;
    }
    .project p {
        margin: 15px 0 0 0;
        min-width: 100%;
        padding: 0;
    }
    .project .img-container {
        width: 95%;
    }
    .img-container img {
        /* border: 2px solid var(--lightBlueColor); */
        border: 2px solid rgba(0, 0, 0, 0.4);
        object-fit: scale-down;
        height: 9rem;
        padding: 3px 0px;
    }

    /* ---------------------------- */
    .richText {
        /* border: 2px solid red; */
        /* width: 100%; */
    }
    .richText ul {
        /* border: 2px solid blue; */
        width: 95%;
        /*margin: 0 auto;
    padding: 0; */
        /* list-style-position: inside; */
        /* list-style-type: none; */
    }
    .richText ul li {
        /* border: 2px solid green; */
        /* margin-top: 1rem; */
    }
    .richText ul li p {
        /* border: 2px solid black; */
        /* min-width: 100%;
    text-align: left;
    display: inline;
    padding-left: 0px;
    font-size: 1rem; */
    }
}

@media only screen and (max-width: 485px) {
    .link-container {
        width: 100%;
    }
    .btn {
        font-size: 0.9rem;
    }
    .project {
        width: 90%;
    }
}
@media only screen and (max-width: 348px) {
    .link-container {
        flex-direction: column;
    }
    /* .project .img-container {
        min-width: 200px;
    } */
}
