.project {
    max-width: 1500px;
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* height: calc(100vh - 6.5rem); */
}

.project h1 {
    margin: 50px auto;
    color: var(--lightBlueColor);
    font-size: 35px;
    text-align: center;
}

.project .img-container {
    border-radius: 10px;
    min-width: 343.2px;
}
.project img {
    max-width: 90%;
    height: 100%;
    min-width: 100%;
    display: inline-block;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.4);
    margin-bottom: 1.2rem;
}

.project img:hover {
    box-shadow: 0 0 20px 5px var(--lightGreyColor);
    transform: scale(1.008);
    transition: 0.5s;
}

.project p {
    font-size: 20px;
    max-width: 70%;
    color: var(--lightBlueColor);
    text-align: center;
    padding: 0 50px;
}

.link-container {
    min-width: 80%;
    text-align: center;
    display: flex;
    justify-content: space-around;
    margin: 20px auto;
}

/* ------------------- */
@media only screen and (max-width: 826px) {
    .project p {
        padding: 0;
    }
}
@media only screen and (max-width: 550px) {
    .btn {
        font-size: 0.9rem;
    }
    .project p {
        margin: 15px 0 0 0;
        min-width: 100%;
        padding: 0;
    }
}
@media only screen and (max-width: 485px) {
    .link-container {
        width: 100%;
    }
    .btn {
        font-size: 0.9rem;
    }
    .project {
        width: 90%;
    }
}
@media only screen and (max-width: 348px) {
    .link-container {
        flex-direction: column;
    }
    .project .img-container {
        min-width: 200px;
    }
}
